/* Mobile-view */

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
}

.container{
    width: 100%;
    max-width: 20rem;
}

.card{
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.05);
    padding: 1rem;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
}

.content{
    padding: 0 1rem;
}

.title{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.description{
    color: hsl(216, 15%, 48%);
    font-size: 0.9375rem;
    font-size: 400;
    line-height: 1.4;
}

/* Desktop-view */

@media (min-width: 90rem){
    .card{
        padding: 1rem 1rem 2.5rem;
    }

    .title{
        font-size: 1.4rem;
    }

    .description{
        font-size: 1rem;
        padding: 0 0.75rem;
    }
}
